

.paragraph1{
    text-align:left;
    margin-right:50%;
}

.paragraph2{

   margin-top:50px;
    margin-left: 50%;

}

.paragraph3{
    margin-top:70px;
   text-align: center;
}
h1{
    color:green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

